/*
	Toolbar样式
*/
.ToolBar {
	width : 100%; height : 7.75%;
	background : #33B5E5;
	color : white;
	border : 1px solid #808080;
	-webkit-border-radius : 0.25em;
}

/*
	主页面样式
*/
.HomeViewIcon {
	width : 100%;
	height : 100%;
	-webkit-border-radius : 0.25em;
}

/*
	建议反馈列表样式
*/
.FeedBackListIcon {
	float : left;
	width : 3.5em;
	height : 3.5em;
	margin-bottom : 0.5em;
	-webkit-border-radius : 0.25em;
}
.FeedBackListContent {
	text-align : left;
	font-size : 0.85em;
	line-height : 1.1em;
	height : 2.2em;
	padding-left : 0.9em;
	margin-bottom : 0.2em;
	overflow : hidden;
}
.FeedBackListDataTimePubliser {
	text-align : left;
	font-size : 0.65em;
	color :  #808080;
	padding-left : 1.2em;
	overflow : hidden;
}

/*
	供求详细视图样式
*/
.FeedBackDetailContent {
	width : 97.5%;
	font-size : 0.9em;
	letter-spacing: 0.1em;
	line-height : 1.3em;
	display : block;
	margin : auto;
	text-align : justify;
	text-justify : inter-ideograph;
}
.FeedBackDetailImage {
	margin-top : 1em;
	max-width : 97.5%;
	display : block;
	margin : auto;
	border : 1.5px solid #33B5E5;
	-webkit-border-radius : 0.25em;
}

/*
	频道订阅页面样式
*/
.OrderViewIcon {
	width : 100%;
	height : 100%;
	-webkit-border-radius : 0.25em;
}

/*
	一级频道列表页面样式
*/
.RootCategoryIcon {
	float : left;
	width : 3.5em;
	height : 3.5em;
	margin-bottom : 0.5em;
	-webkit-border-radius : 0.25em;
}
.RootCategoryName {
	font-size : 1.2em;
	padding-top : 0.9em;
	padding-left : 1em;
	overflow : hidden;
}
.RootCategoryDisclosure {
	float : right;
	width : 1.5em;
	height : 1.5em;
	margin-right : 0.5em;
	margin-top : 1em;
}

/*
	二级频道列表页面样式
*/
.ChildCategoryIcon {
	float : left;
	width : 3.5em;
	height : 3.5em;
	margin-bottom : 0.5em;
	-webkit-border-radius : 0.25em;
}
.ChildCategoryName {
	font-size : 1.2em;
	padding-top : 0.9em;
	padding-left : 1em;
	overflow : hidden;
}
.ChildCategoryDisclosure {
	float : right;
	width : 1.5em;
	height : 1.5em;
	margin-right : 0.5em;
	margin-top : 1em;
}

/*
	新闻列表页面样式
*/
.NewsListIcon {
	float : left;
	width : 3.5em;
	height : 3.5em;
	margin-bottom : 0.5em;
	-webkit-border-radius : 0.25em;
}
.NewsListTitle {
	text-align : left;
	font-size : 0.85em;
	line-height : 1.1em;
	height : 2.2em;
	padding-left : 0.9em;
	margin-bottom : 0.2em;
	overflow : hidden;
}
.NewsListDateTimePubliser {
	text-align : left;
	font-size : 0.65em;
	color :  #808080;
	padding-left : 1.2em;
	overflow : hidden;
}

/*
	新闻详细页面样式
*/
.NewsDetailTitle {
	color : #000000;
   	text-align : center;
	padding-top : 0.5em;
	padding-left : 1.5em;
	padding-right : 1.5em;
   	font-size : 1.1em;
}
.NewsDetailDataTimePublisher {
	color : #808080;
	margin-top : 0.5em;
	margin-bottom : 0.5em;
   	text-align : center;
   	font-size : 0.6em;
}
.NewsDetailContent {
	width : 97.5%;
	font-size : 0.9em;
	letter-spacing: 0.1em;
	line-height : 1.3em;
	display : block;
	margin : auto;
	text-align : justify;
	text-justify : inter-ideograph;
}
.NewsDetailImage {
	max-width : 97.5%;
	display : block;
	margin : auto;
	border : 1.5px solid #33B5E5;
	-webkit-border-radius : 0.25em;
}

/*
	供求列表样式
*/
.SnBListIcon {
	float : left;
	width : 3.5em;
	height : 3.5em;
	margin-bottom : 0.5em;
	-webkit-border-radius : 0.25em;
}
.SnBListTitle {
	text-align : left;
	font-size : 0.85em;
	line-height : 1.1em;
	height : 2.2em;
	padding-left : 0.9em;
	margin-bottom : 0.2em;
	overflow : hidden;
}
.SnBListDataTimePubliser {
	text-align : left;
	font-size : 0.65em;
	color :  #808080;
	padding-left : 1.2em;
	overflow : hidden;
}

/*
	供求详细视图样式
*/
.SnBDetailTitle {
	color : #000000;
   	text-align : center;
	padding-top : 0.5em;
	padding-left : 1.5em;
	padding-right : 1.5em;
   	font-size : 1.1em;
}
.SnBDetailDataTimePubliser {
	color : #808080;
	margin-top : 0.5em;
	margin-bottom : 0.5em;
   	text-align : center;
   	font-size : 0.6em;
}
.SnBDetailContent {
	width : 97.5%;
	font-size : 0.9em;
	letter-spacing: 0.1em;
	line-height : 1.3em;
	display : block;
	margin : auto;
	text-align : justify;
	text-justify : inter-ideograph;
}
.SnBDetailImage {
	max-width : 97.5%;
	display : block;
	margin : auto;
	border : 1.5px solid #33B5E5;
	-webkit-border-radius : 0.25em;
}

/*
	发布供求页面样式
*/
.SnBPostFormPanel {
	margin : 0.25em;
	-webkit-border-radius : 0.25em;
}

/*
	供求列表样式
*/
.QnAListIcon {
	float : left;
	width : 3.5em;
	height : 3.5em;
	margin-bottom : 0.5em;
	-webkit-border-radius : 0.25em;
}
.QnAListContent {
	text-align : left;
	font-size : 0.85em;
	line-height : 1.1em;
	height : 2.2em;
	padding-left : 0.9em;
	margin-bottom : 0.2em;
	overflow : hidden;
}
.QnAListDataTimePubliser {
	text-align : left;
	font-size : 0.65em;
	color :  #808080;
	padding-left : 1.2em;
	overflow : hidden;
}

/*
	供求详细视图样式
*/
.QnADetailContent {
	width : 97.5%;
	font-size : 0.9em;
	letter-spacing: 0.1em;
	line-height : 1.3em;
	display : block;
	margin : auto;
	text-align : justify;
	text-justify : inter-ideograph;
}
.QnADetailImage {
	max-width : 97.5%;
	display : block;
	margin : auto;
	border : 1.5px solid #33B5E5;
	-webkit-border-radius : 0.25em;
}

/*
	发布供求页面样式
*/
.QnAPostFormPanel {
	margin : 0.25em;
	-webkit-border-radius : 0.25em;
}

/*
	企业名片页面样式
*/
.BusinessCardName {
	text-align : left; font-size : 0.85em; line-height : 1.1em;
	height : 2.2em; padding-left : 0.9em; margin-bottom : 0.2em; overflow : hidden;
}
.BusinessCardIconUrl {
	float : left; width : 3.5em; height : 3.5em;
	margin-bottom : 0.5em; -webkit-border-radius : 0.25em;
}
.BusinessCardMainBusiness {
	text-align : left; font-size : 0.65em; color :  #808080;
	padding-left : 1.2em; overflow : hidden;
}

/*
	专家详细页面样式
*/
.BusinessCardDetailName {
	color : #000000;
   	text-align : center;
	padding-top : 0.5em;
	padding-left : 1.5em;
	padding-right : 1.5em;
   	font-size : 1.1em;
}
.BusinessCardDetailImage {
	max-width : 97.5%;
	display : block;
	margin : auto;
	border : 1.5px solid #33B5E5;
	-webkit-border-radius : 0.25em;
}
.BusinessCardDetailContent {
	width : 97.5%;
	font-size : 0.9em;
	letter-spacing: 0.1em;
	line-height : 1.3em;
	display : block;
	margin : auto;
	text-align : justify;
	text-justify : inter-ideograph;
}

/*
	专家列表页面样式
*/
.ExpertListIcon {
	float : left;
	width : 3.5em;
	height : 3.5em;
	margin-bottom : 0.5em;
	-webkit-border-radius : 0.25em;
}
.ExpertListName {
	text-align : left;
	font-size : 0.85em;
	line-height : 1.1em;
	height : 2.2em;
	padding-left : 0.9em;
	margin-bottom : 0.2em;
	overflow : hidden;
}
.ExpertListTitlePosition {
	text-align : left;
	font-size : 0.65em;
	color :  #808080;
	padding-left : 1.2em;
	overflow : hidden;
}

/*
	专家详细页面样式
*/
.ExpertDetailName {
	color : #000000;
   	text-align : center;
	padding-top : 0.5em;
	padding-left : 1.5em;
	padding-right : 1.5em;
   	font-size : 1.1em;
}
.ExpertDetailContent {
	width : 97.5%;
	font-size : 0.9em;
	letter-spacing: 0.1em;
	line-height : 1.3em;
	display : block;
	margin : auto;
	text-align : justify;
	text-justify : inter-ideograph;
}
.ExpertDetailImage {
	max-width : 97.5%;
	display : block;
	margin : auto;
	border : 1.5px solid #33B5E5;
	-webkit-border-radius : 0.25em;
}

/*
	农业天气页面样式
*/
.AgriWeatherTitle {
	color : #000000; font-size : 1.1em; text-align : center; 
	padding-top : 0.5em; padding-left : 1.5em; padding-right : 1.5em;
}
.AgriWeatherImage {
	float: right; padding: 0.75em 0.5em 0 0;
	width : 25%; display : block; margin : auto;
}
.AgriWeatherContent {
	font-size : 0.9em; letter-spacing: 0.1em; line-height : 1.3em;
	display : block; margin: 0 0 0 0.5em ; text-align : justify;
}