/*
	顶部Toolbar样式
*/
.TopBar {
	background : #33B5E5;
	color : white;
	border-top : 1px solid #808080;
	border-bottom : 1px solid #808080;
	-webkit-border-radius : 0.25em;
}

/*
	底部Toolbar样式
*/
.BottomBar {
	background : #33B5E5;
	color : white;
	border-top : 1px solid #808080;
	border-bottom : 1px solid #808080;
	-webkit-border-radius : 0.25em;
}

/*
	主页面图标样式
*/
.HomeViewIcon {
	width : 100%;
	height : 100%;
}

/*
	注册页面列表样式
*/
.RegisterListIcon {
	width : 2.5em;
	height : 2.5em;
	float : left;
	margin-bottom : 0.5em;
}
.RegisterListDisclosure {
	float : right;
	max-width : 1.5em;
	max-height : 1.5em;
	margin-right : 0.5em;
	margin-top : 0.5em;
}
.RegisterListName {
	font-size : 1.2em;
	padding-top : 0.45em;
	padding-left : 1em;
	overflow : hidden;
	font-weight : blod;
}

/*
	测试用边框
*/
.TestBorder {
	border : 1px solid #000000;
}
